.footer {
    position: absolute;
    bottom: 0;
    height: 65px;
    background-color: gray;
    width: 100%;
    text-align: center;
}

.footer__link {
    text-decoration: none;
    color: black;
}